<nav aria-label="Page navigation" *ngIf="count > 0">
  <ul class="pagination">
    <li class="page-item " (click)="onPrev()" [ngClass]="{'disabled':page === 1 || loading}">
      <span class="page-link" href="/home">Previous</span>
    </li>
    <li class="page-item" *ngFor="let pageNum of getPages()" (click)="onPage(pageNum)" [ngClass]="{'active': pageNum === page, 'disabled': loading }">
      <span class="page-link" >{{ pageNum }}</span>
    </li>
    <li class="page-item" (click)="onNext()" [ngClass]="{'disabled':lastPage() || loading}">
      <span class="page-link" >Next</span>
    </li>
  </ul>
</nav>
